@font-face {
    font-family: Montserrat;
    src: url('../media/Montserrat-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url('../media/Montserrat-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

body {
	background: #cfdfe5;
	color: #0076a3;
	font-family: "Montserrat";
}

header {
	background: #0076a3;
	font-size: 20px;
	text-transform: uppercase;
}

.navbar-light {
	background: #0076a3;
	font-size: 20px;
}

.navbar-light a {
	color: #fff !important;
}

.navbar a:hover {
	background: #fff;
	color: #0076a3 !important;
	border-radius: 10px;
	transition: all 0.5s ease-out;
} 

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.logo-container {
	display: inline-block;
}

.logo-container:hover {
	background: #0076a3 !important;
	display: inline-block;
}

.logo-content {
	display: block; /* Removes default inline spacing */
	width: 100%; /* Ensure it scales with the <a> tag */
    height: 40px;
}

.dropdown-menu .drop {
	min-width: 400px !important;
}

header .dropdown-item {
	background-color: #fff;
	color: #0076a3 !important;
	text-transform: none;
}

header .dropdown-item:hover {
	background-color: #0076a3;
	color: #fff !important;
	border-radius: 0;
}

.multi-column-dropdown {
	width: 30rem;
	border: 0;
}

.multi-column-dropdown .dropdown-item {
	width: 33.33%;
	float: left;
	clear: none;
}

#headerSearch {
	transition: width 0.4s ease-in-out;
	width: 100px !important; 
	border-color: #fff;
}

#headerSearch:focus {
	width: 200px !important; 
} 

.header-search-button-custom {
	border-color: #fff;
	color: #fff;
	border-radius: 0px 25px 25px 0px;
}

.header-search-button-custom:hover {
	background: #cfdfe5;
	transition: all 0.5s;
	border-color: #fff;
}

#formEmail, #formPassword {
	height: 50px;
	border-radius: 10px;
	width: 90%;
}

#formEmail::placeholder, #formPassword::placeholder {
	font-size: 20px;
	color: #cfdfe5;
}

#loginButton {
	height: 50px;
	width: 50px;
	border-radius: 10px 25px 25px 10px;
	background: #0076a3;
}

.form-check-input:checked {
    background-color: #0076a3;
    border-color: #0076a3;
}

select option { 
	color: #0076a3 !important; 
}

.advanced-search-button-custom button {
	border-color: #0076a3;
	background: #0076a3;
}

.advanced-search-button-custom button:hover {
	border-color: #cfdfe5;
	background: #fff;
	color: #0076a3;
	transition: all 0.5s ease-out;
}

.card {
	background: #fff;
	border-color: none;
}
