@media (min-width: 576px) {

}

@font-face {
    font-family: Montserrat;
    src: url('./Montserrat-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url('./Montserrat-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}

html, body {
	height: 100%;
}

body {
	background: #cfdfe5;
	color: #0076a3;
	font-family: "Montserrat";
}

.form-signin {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: 0 auto;
}

.login-email-custom, .login-password-custom {
	color: #cfdfe5;
	font-size: 16px;
}

#loginButton {
	background: #0076a3;
	border-color: #0076a3;
	max-width: 250px;
}

.form-check-input:checked {
    background-color: #0076a3;
    border-color: #0076a3;
}

.mb-3 {

}
